<div class="container">
    <form [formGroup]="myForm">
        <div class="row">
            <div class="col-sm-10">
                <div class="mb-3">
                    <label for="correo" class="form-label">Correo</label>
                    <input type="correo" formControlName="correo" class="form-control" id="correo"
                        aria-describedby="emailHelp" name="correo">
                    @if (myForm.controls['correo'].dirty || myForm.controls['correo'].touched ) {
                    @if (myForm.controls['correo'].getError('required')) {
                    <div class="alert alert-danger  p-1" role="alert">
                        <small>Campo requerido </small>
                    </div>
                    }

                    @if (myForm.controls['correo'].getError('email')) {
                    <div class="alert alert-danger   p-1" role="alert">
                        <small> Debe tener el formato de correo electronico </small>
                    </div>
                    }
                    }
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" formControlName="password" class="form-control" id="password"
                        name="password">
                    @if (myForm.controls['password'].dirty || myForm.controls['password'].touched ) {
                    @if (myForm.controls['password'].getError('required')) {
                    <div class="alert alert-danger   p-1" role="alert">
                        <small>Campo requerido </small>
                    </div>
                    }

                    @if (myForm.controls['password'].getError('minlength')) {
                    <div class="alert alert-danger   p-1" role="alert">
                        <small> Debe tener el formato de correo electronico </small>
                    </div>
                    }
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col"> <button type="submit" class="btn btn-primary" (click)="login()">Ingresar</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Restablecer contraseña
                </button>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col">
                <a routerLink="/auth/register">¿Ya tienes Cuenta?</a>
            </div>
        </div>
    </form>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Recuperar contraseña</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <app-recuperar-correo></app-recuperar-correo>
                </div>
            </div>
        </div>
    </div>
</div>