<form  [formGroup]="myForm">
    <div class="row">
        <div class="col-sm-10">
            <div class="mb-3">
                <label for="correo" class="form-label">Correo</label>
                <input type="correo" formControlName="correo" class="form-control" id="correo"
                    aria-describedby="emailHelp" name="correo">
                @if (myForm.controls['correo'].dirty || myForm.controls['correo'].touched ) {
                @if (myForm.controls['correo'].getError('required')) {
                <div class="alert alert-danger  p-1" role="alert">
                    <small>Campo requerido </small>
                </div>
                }

                @if (myForm.controls['correo'].getError('email')) {
                <div class="alert alert-danger   p-1" role="alert">
                    <small> Debe tener el formato de correo electronico </small>
                </div>
                }
                }
            </div>
            <div class="col"> <button type="submit" class="btn btn-primary" (click)="recordar()" >Recuperar</button>
            </div>
        </div>
    </div>
</form>